/* Estilos base para el tema claro */
body.light-theme {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e6e6e6;
  color: #858585;
}

body {
  overflow: hidden;
}

body.light-theme {
  background-color: #e4e4e4;
  color: #4a4a4a50;
}

body.light-theme .form-container,
body.light-theme .sidebar,
body.light-theme .chat-section,
body.light-theme .header-chat,
body.light-theme .chat-box,
body.light-theme .usuarios-container {
  background-color: #fffefe;
  color: #313131;
  border-color: #c9c9c9;
}

body.light-theme a.chat-preview,
body.light-theme div.preview-info{
  color: #323232;
}

body.light-theme .mensaje.in,
body.light-theme .mensaje.out{
  background-color: #dadada86;
  color: #000000;
  border-color: #444;
}

body.light-theme .form-chat {
  background-color: #e3e3e3;
  border-color: #bababa;
}

body.light-theme .form-chat input[type="text"],
body.light-theme .busqueda input[type="text"],
body.light-theme .filtro-rol,
body.light-theme .filtro-curso {
  background-color: #cbcbcb;
  border-color: #e5e5e5;
  color: #e0e0e0;
}

body.light-theme .form-chat button,
body.light-theme .btn-salir,
body.light-theme .usuarios-container .btn-filtro {
  background-color: #007bff;
  color: #000000;
}

body.light-theme .form-chat button:hover,
body.light-theme .btn-salir:hover,
body.light-theme .usuarios-container .btn-filtro:hover {
  background-color: #0056b3;
}

body.light-theme .chat-preview:hover {
  background-color: #c3c3c3;
}

body.light-theme .usuarios-container .listaUsuarios li a.chat-preview:hover {
  background-color: #c4c4c4;
}

body.light-theme .perfil-popup {
  background-color: #ffffff;
  border-color: #5e5e5e;
  color: #121212;
}

body.light-theme .perfil-popup a {
  color: #66b0ff;
}

body.light-theme .perfil-popup a:hover {
  background-color: #c3c0c0;
}

body.light-theme .badge {
  background-color: #28a745;
}


/*''' Estilos para el tema oscuro ''''*/
body.dark-theme {
  background-color: #e4e4e4;
  color: #3e3e3e50;
}

body.dark-theme .form-container,
body.dark-theme .sidebar,
body.dark-theme .chat-section,
body.dark-theme .header-chat,
body.dark-theme .chat-box,
body.dark-theme .usuarios-container {
  background-color: #2a2a2a;
  color: #e0e0e0;
  border-color: #444;
}

body.dark-theme a.chat-preview,
body.dark-theme div.preview-info{
  color: #b7b7b7;
}

body.dark-theme .mensaje.in,
body.dark-theme .mensaje.out{
  background-color: #4d4d4d;
  color: #ffffff;
  border-color: #444;
}

body.dark-theme .form-chat {
  background-color: #2a2a2a;
  border-color: #444;
}

body.dark-theme .form-chat input[type="text"],
body.dark-theme .busqueda input[type="text"],
body.dark-theme .filtro-rol,
body.dark-theme .filtro-curso {
  background-color: #333;
  border-color: #555;
  color: #e0e0e0;
}

body.dark-theme .form-chat button,
body.dark-theme .btn-salir,
body.dark-theme .usuarios-container .btn-filtro {
  background-color: #007bff;
  color: #fff;
}

body.dark-theme .form-chat button:hover,
body.dark-theme .btn-salir:hover,
body.dark-theme .usuarios-container .btn-filtro:hover {
  background-color: #0056b3;
}

body.dark-theme .chat-preview:hover {
  background-color: #333;
}

body.dark-theme .usuarios-container .listaUsuarios li a.chat-preview:hover {
  background-color: #3e3d3d;
}

body.dark-theme .perfil-popup {
  background-color: #2a2a2a;
  border-color: #444;
  color: #e0e0e0;
}

body.dark-theme .perfil-popup a {
  color: #66b0ff;
}

body.dark-theme .perfil-popup a:hover {
  background-color: #333;
}

body.dark-theme .badge {
  background-color: #28a745;
}

/* Estilos para el botón de cambio de tema */
.theme-toggle {
  margin-bottom: 1rem;
  height: 75px;
  width: 75px;
  margin-bottom: 35px;
}

.theme-toggle button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}

.theme-toggle button:hover {
  transform: scale(1.2);
}

/* Estilos generales (independientes del tema) */
.form-container {
  background: #fff;
  padding: 20px;
  margin: 10px auto;
  margin-top: 100px;
  width: 450px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border: 1px solid #eee;
  align-items: center;
}

.imagen-centrada {
  right: 50px;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #003366;
  font-size: 2.2em;
  border-bottom: 3px solid #003366;
  padding-bottom: 10px;
}

.form-container label {
  display: block;
  margin-bottom: 8px;
  color: #555;
  font-weight: bold;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"],
.form-container input[type="tel"],
.form-container select {
  width: calc(100% - 24px);
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.form-container input[type="text"]:focus,
.form-container input[type="email"]:focus,
.form-container input[type="password"]:focus,
.form-container input[type="tel"]:focus,
.form-container select:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.form-container input[type="file"] {
  margin-bottom: 20px;
  font-size: 16px;
  padding: 10px 0;
}

.form-container button {
  background-color: #007bff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  width: 100%;
  transition: background-color 0.3s ease;
}

.form-container button:hover {
  background-color: #0056b3;
}

.form-container p {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  color: #777;
}

.form-container a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.form-container a:hover {
  text-decoration: underline;
}

#cursoSelect {
  width: calc(100% - 24px);
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

#cursoSelect:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.alert {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

/* Chat Layout */
.chat-layout {
  display: flex;
  height: calc(100vh - 70px);
  overflow: hidden;
  padding-bottom: 0;
  margin-top: 70px;
}

/* Sidebar */
.sidebar {
  width: 280px;
  background: #f7f7f7;
  padding: 1rem;
  padding-bottom: 0rem;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 84px);
  flex-shrink: 0;
}

.sidebar h3 {
  margin-top: 0;
  color: #1672ce;
  margin-bottom: 1.2rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #003366;
}

.filtro-rol, .filtro-curso {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 1em;
}

.busqueda {
  margin-bottom: 1.2rem;
}

.busqueda input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 1em;
}

.lista-scroll {
  overflow-y: auto;
  min-height: 330px;
  max-height: 405px;
}

.listaUsuarios {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: calc(100% - 0);
  overflow-y: auto;
}

.listaUsuarios .chat-preview .preview-info strong{
  color: #d0d0d0c1;
} 

.listaUsuarios .chat-preview .rol-usuario-sidebar{
  color: #fff;
} 

.listaUsuarios li {
  margin-bottom: 0.7rem;
  border-bottom: 1px solid #eee;
  padding: 8px 0;
  cursor: pointer;
}

.listaUsuarios li a {
  text-decoration: none;
  color: #636363;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.listaUsuarios li a .rol-usuario {
  font-weight: normal;
  color: #bababa;
  font-size: 0.9em;
  margin-left: 8px;
}

/* Chat Section */
.chat-section {
  flex-grow: 1;
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);
  background-color: #f0f0f0;
}
.header-chat {
  background: #fff;
  padding: 1.2rem;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.header-chat h2 {
  margin: 0;
  color: #1672ce;
  font-size: 1.7em;
}

.btn-salir {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 0.7rem 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  transition: background-color 0.3s ease;
}

.btn-salir:hover {
  background-color: #c82333;
}

.chat-box {
  flex-grow: 1;
  overflow-y: auto;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  scrollbar-width: thin;
  scrollbar-color: #aaa #eee;
}

.chat-box::-webkit-scrollbar {
  width: 8px;
}

.chat-box::-webkit-scrollbar-track {
  background: #eee;
  border-radius: 4px;
}

.chat-box::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 4px;
}

.chat-box::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

.mensaje {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 0.7rem;
  max-width: 80%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  word-break: break-word;
  position: relative;
}

.mensaje.out {
  background-color: #dcf8c6;
  align-self: flex-end;
  border-radius: 10px 10px 0 10px;
}

.mensaje.in {
  background-color: #fff;
  align-self: flex-start;
  border-radius: 0 10px 10px 10px;
}

.info-mensaje {
  display: flex;
  justify-content: flex-end;
  font-size: 0.85em;
  color: #fffcfc;
  margin-top: 0.3rem;
  align-items: center;
}

.hora {
  margin-right: 0.7rem;
  color: #66ff005e;
}

.cotejo {
  color: #999;
  font-size: 1em;
}

.cotejo-leido {
  color: #3498db;
}

.form-chat {
  background: #f8f9fa;
  padding: 1.2rem;
  border-top: 1px solid #ddd;
  display: flex;
  align-items: center;
  border-radius: 0 0 10px 10px;
}

.form-chat input[type="text"] {
  flex-grow: 1;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-right: 1rem;
  font-size: 1.1em;
}

.form-chat button {
  background-color: #003366;
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  transition: background-color 0.3s ease;
}

.form-chat button:hover {
  background-color: #002244;
}

/* Contenedor de selección de usuario */
.usuarios-container {
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 0.5em;
  height: 725px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.usuarios-container h2 {
  margin-bottom: 1.5em;
  color: #0080ff;
  text-align: center;
}

.usuarios-container .filtros {
  margin-bottom: 1.5em;
  text-align: center;
}

.usuarios-container .btn-filtro {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.7rem 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 0.7rem;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.usuarios-container .btn-filtro:hover {
  background-color: #0056b3;
}

.hidden {
  display: none;
}

.usuarios-container .lista-scroll {
  min-height: 450px;
  max-height: 450px;
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 0.2rem;
  overflow: hidden;
}

.usuarios-container .listaUsuarios {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 405px;
  overflow-y: auto;
  overflow-x: hidden;
}

.usuarios-container .listaUsuarios li {
  margin-bottom: 0.7rem;
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 6px;
}

.usuarios-container .listaUsuarios li:last-child {
  border-bottom: none;
}

.usuarios-container .listaUsuarios li a.chat-preview {
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  text-decoration: none;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  justify-content: space-between;
}

.usuarios-container .listaUsuarios li a.chat-preview:hover {
  background-color: #e7e7e7;
}

.usuarios-container .listaUsuarios li a.chat-preview .avatar-mini {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 15px;
  vertical-align: middle;
  border: 1px solid #ddd;
  flex-shrink: 0;
}

.usuarios-container .listaUsuarios li a.chat-preview .preview-info {
  flex-grow: 1;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  min-width: 0;
  margin-right: 10px;
}

.usuarios-container .listaUsuarios li a.chat-preview .preview-info strong {
  font-size: 1.1em;
  display: block;
  color: #222;
  margin-bottom: 2px;
  white-space: nowrap;
  overflow: hidden;
}

.usuarios-container .listaUsuarios li a.chat-preview .preview-info  {
  display: block;
  font-size: 0.9em;
  color: #ffffff;
  overflow: hidden;
  white-space: nowrap;
  font-weight: normal;
  width: calc(100% - 0px);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.usuarios-container .listaUsuarios li a.chat-preview .preview-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-shrink: 0;
}

.avatar-mini {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 15px;
  vertical-align: middle;
  float: left;
  border: 1px solid #ddd;
}

.chat-preview {
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  text-decoration: none;
  color: #939393;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  transition: background-color 0.2s ease;
}

.chat-preview:hover {
  background-color: #f8f8f8;
}

.preview-info {
  flex-grow: 1;
  margin-left: 15px;
}

.preview-info strong {
  font-size: 1.1em;
  display: block;
  color: #a09e9e;
}

.preview-info .mensaje-preview {
  display: block;
  font-size: 0.95em;
  color: #adacac;
  white-space: nowrap;
}

.preview-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
}

.preview-date {
  font-size: 0.8em;
  color: #ffffff;
  margin-top: 35px;
}

.badge {
  background-color: #28a745;
  color: white;
  border-radius: 50%;
  padding: 6px;
  width: 16px;
  height: 15px;
  font-size: 0.8em;
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Diseño Responsivo */
@media (max-width: 300px) {
  .chat-layout {
      flex-direction: column;
      height: auto;
  }

  .sidebar {
      width: 50%;
      height: auto;
      border-right: none;
      border-bottom: 1px solid #ccc;
      padding-bottom: 1rem;
  }

  .chat-section {
      width: 100%;
      height: auto;
      border-radius: 0;
  }

  .usuarios-container {
      height: 356px;
      margin: 1em 0;
      padding: 1em;
  }

  .header-chat h2 {
      font-size: 1.4em;
  }

  .form-chat input[type="text"] {
      font-size: 1em;
  }

  .btn-salir {
      font-size: 0.9em;
  }

  .mensaje {
      max-width: 95%;
      padding: 0.8rem;
      border-radius: 8px;
  }
}

@media (max-width: 480px) {
  .header-chat h2 {
      font-size: 1.2em;
  }

  .form-chat button {
      padding: 0.6rem 1.1rem;
      font-size: 0.9em;
  }

  .usuarios-container h2 {
      font-size: 1.5em;
  }

  .usuarios-container .btn-filtro {
      padding: 0.6rem 1rem;
      font-size: 0.9em;
      margin-right: 0.5rem;
  }

  .usuarios-container .busqueda input[type="text"] {
      font-size: 0.9em;
  }
}

/* Estilos añadidos para el rol en el sidebar */
.rol-usuario-sidebar {
  font-size: 0.8em;
  color: #777;
  margin-left: 5px;
}

/* Estilos para el contenedor principal que divide la página en dos lados */
.contenedor {
  display: flex;
  width: 800px;
  background-color: #1e1e1e;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  position: relative;
}

/* Estilos para los lados izquierdo y derecho del contenedor */
.lado-izquierdo, .lado-derecho {
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 2s ease;
  position: relative;
}

/* Estilos específicos del lado izquierdo */
.lado-izquierdo {
  background-color: #3498db;
  z-index: 1;
}

/* Estilos específicos del lado derecho */
.lado-derecho {
  background-color: #f0f0f0;
  color: #333;
  z-index: 0;
}

/* Estilos para los títulos en ambos lados */
.lado-izquierdo h2, .lado-derecho h2 {
  margin-bottom: 20px;
}

/* Estilos para el párrafo en el lado izquierdo */
.lado-izquierdo p {
  margin-bottom: 30px;
}

/* Estilos para los botones en ambos lados */
.lado-izquierdo button, .lado-derecho button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  background-color: white;
  color: #3498db;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Estilos específicos para el botón del lado derecho */
.lado-derecho button {
  background-color: #3498db;
  color: white;
}

/* Estilos para los campos de entrada en el lado derecho */
.lado-derecho input[type="email"],
.lado-derecho input[type="password"],
.lado-derecho input[type="text"],
.lado-derecho input[type="tel"],
.lado-derecho select {
  width: 80%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Estilos para la imagen en el lado izquierdo */
.imagen-inicio-sesion {
  width: 150px;
  margin-bottom: 20px;
}

/* Efecto hover para el botón de ingresar */
#botonIngresar:hover, #botonIngresarDesdeRegistro:hover {
  color: #3498db;
  background-color: #ddd;
}

/* Efecto hover para el botón de registro */
#botonRegistro:hover {
  color: #ddd;
  background-color: #409bd8;
}

/* Efecto de clic para los botones */
#botonRegistro:active, #botonIngresar:active, #botonIngresarDesdeRegistro:active {
  transform: scale(0.9);
  opacity: 0.8;
}

/* Animaciones para mover los lados al hacer clic en los botones */
.mover-lado-izquierdo {
  transform: translateX(100%);
}

.mover-lado-derecho {
  transform: translateX(-100%);
}
